@import url("./template.css");

aside {
  background-color: var(--secondary-color);
  height: 100vh;
  width: 50vw;
  padding-left: 0.5rem;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(50vw);
  transition: transform var(--ease-transition-1);
}

.dark-effect::before {
  content: "";
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  left: -100vw;
}

aside .wrapper {
  height: var(--navbar-height);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

nav {
  height: 10rem;
  flex-direction: column;
}

nav a {
  width: 100%;
  text-align: left;
  padding-left: 0.5rem;
}

nav .active {
  border-radius: 25px 0 0 25px;
}
