@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

:root {
  --primary-color: #06b6d4;
  --secondary-color: #ecfeff;
  --accent-color: hsla(180, 31.8%, 91.4%, 0.836);
  --ease-transition-1: 0.3s ease;
  --shadow-x-sm: 0 3px 5px rgba(0, 0, 0, calc(1 / 8));
  --shadow-y-sm: 3px 0 5px rgba(0, 0, 0, calc(1 / 8));
  --navbar-height: 4rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  border: none;
  background: transparent;
}

/* manipulation element style */
.show-content {
  height: 16rem;
}

.show-content-aside {
  transform: translateX(0);
}

.hide {
  display: none;
}

.unclickable {
  pointer-events: none;
}
/* manipulation element style*/

body {
  font-family: "Poppins", Sans-Serif;
  color: #222;
}

header {
  height: var(--navbar-height);
  width: 100vw;
  background-color: var(--secondary-color);
  padding: 0 1.5rem;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: var(--shadow-x-sm);
}

.hamburger {
  font-size: 2rem;
}

nav {
  display: flex;
  justify-content: space-between;
}

header .wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  font-size: 1.8rem;
}

nav a {
  text-decoration: none;
  color: var(--primary-color);
  border-radius: 2.5px;
  padding: 0.5rem 0;
}

nav .active {
  width: 100%;
  background-color: var(--accent-color);
  padding-left: 0.5rem;
}
